/* Define CSS variables for the provided colors */
/* import this file into Home.css file - @import './colors.css'; 
AND then example: background-color: var(--auburn); 
Use the color palete at https://colorhunt.co/palettes/earth for 
pallete combinations*/
:root {
    --forest-floor: #555142;
    --forest-night: #434237;
    --dirt-brown: #836539;
    --desert-yellow: #a29259;
    --dusty-yellow: #d4cc9a;
    --straw-yellow: #f0d696;
    --musk-dusk: #cfbfb9;
    --prairie-dusk: #cec5ad;
    --brown-grey: #8d8468;
    --charcoal-grey: #6e6969;
    --charred-clay: #885132;
    --bistre: #3d2b1f;
    --wood-bark: #302621;
    --earth-brown: #4f1507;
    --auburn: #712f2c;
    --bear-brown: #44382b;
    --brown-tumbleweed: #37290e;
    --evergreen-forest: #0e695f;
    --forest: #0b5509;
    --forest-biome: #184a45;
    --kelp-forest: #448811;
    --forest-night: #002200;
    --pine-green: #0a481e;
    --alpine-green: #005f56;
    --artichoke: #4b6d41;
    --caribbean-green: #00cc99;
    --cedar: #5e6737;
    --drab-green: #749551;
    --seagrass: #67ad83;
    --moss-garden: #99bb33;
    --moss-green: #638b27;
    --watercress: #6e9377;
    --white-sulfur: #f1faea;
    --blue-lagoon: #00626f;
    --irish-clover: #53734c;
    --peaslake: #8caa95;
    --turtle-lake: #73b7a5;
    --rolling-sea: #5a6d77;
    --cod-grey: #2d3032;
    --dover-grey: #848585;
    --glacier-grey: #c5c6c7;
    --grey-wolf: #9ca0a6;
    --white-smoke: #f5f5f5;
    --canadian-lake: #8f9aa4;
    --dusk: #4e5481;
    --waterway: #7eb7bf;
    --waterfall: #3ab0a2;
    --blue-opal: #0f3b57;
    --blue-paisley: #2282a8;
    --mountain-lake: #2d5975;
    --meltwater: #79c0cc;
    --jasmine-flower: #f4e8e1;
    --wallflower: #a0848a;
    --arctic-dusk: #735b6a;
    --blue-potato: #64617b;
    --english-violet: #563d5d;
    --vintage-violet: #634f62;
    --beet-red: #7a1f3d;
    --brown-red: #922b05;
    --burled-redwood: #8f4c3a;
    --charred-brown: #3e0007;
    --chestnut-brown: #6d1008;
    --wildflower-honey: #c69c5d;
    --brown-orange: #b96902;
    --burnt-orange: #cc5500;
    --dirty-orange: #c87606;
    --rust: #a83c09;
    --faded-orange: #f0944d;
    --orange-lily: #be7249;
    --ocher: #bf9b0c;
    --aspen-yellow: #f6df9f;
    --bad-moon: #f2e5b4;
    --swedish-yellow: #fce081;
    --wax-yellow: #ede9ad;
    --yellow-iris: #eee78e;
}

